{
    "openapi": "3.0.0",
    "info": {
        "title": "API de Gestion des Comptes Bancaires",
        "description": "API pour la gestion des comptes bancaires",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://fallou.senghor.bank.com",
            "description": "Serveur de production"
        },
        {
            "url": "http://api.banque.example.com",
            "description": "Serveur de production"
        }
    ],
    "paths": {
        "/api/v1/comptes": {
            "get": {
                "tags": [
                    "Comptes"
                ],
                "summary": "Lister tous les comptes",
                "description": "Retourne la liste paginée de tous les comptes bancaires non supprimés",
                "operationId": "03ebbdde72897aa34cb2d14fa567a91e",
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Numéro de page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "Nombre d'éléments par page",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "default": 10,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "Filtrer par type",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "epargne",
                                "cheque"
                            ]
                        }
                    },
                    {
                        "name": "statut",
                        "in": "query",
                        "description": "Filtrer par statut",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "actif",
                                "bloque",
                                "ferme"
                            ]
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Recherche par titulaire ou numéro",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "Tri",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "dateCreation",
                                "solde",
                                "titulaire"
                            ]
                        }
                    },
                    {
                        "name": "order",
                        "in": "query",
                        "description": "Ordre",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "admin_id",
                        "in": "query",
                        "description": "ID de l'admin (pour accès temporaire sans authentification)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des comptes récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid",
                                                        "example": "550e8400-e29b-41d4-a716-446655440000"
                                                    },
                                                    "numeroCompte": {
                                                        "type": "string",
                                                        "example": "C00123456"
                                                    },
                                                    "titulaire": {
                                                        "type": "string",
                                                        "example": "Amadou Diallo"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "enum": [
                                                            "Épargne",
                                                            "Chèque"
                                                        ],
                                                        "example": "epargne"
                                                    },
                                                    "solde": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 1250000
                                                    },
                                                    "devise": {
                                                        "type": "string",
                                                        "example": "FCFA"
                                                    },
                                                    "dateCreation": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2023-03-15T00:00:00Z"
                                                    },
                                                    "statut": {
                                                        "type": "string",
                                                        "enum": [
                                                            "Actif",
                                                            "Bloqué",
                                                            "Fermé"
                                                        ],
                                                        "example": "bloque"
                                                    },
                                                    "motifBlocage": {
                                                        "type": "string",
                                                        "example": "Inactivité de 30+ jours",
                                                        "nullable": true
                                                    },
                                                    "metadata": {
                                                        "properties": {
                                                            "derniereModification": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2023-06-10T14:30:00Z"
                                                            },
                                                            "version": {
                                                                "type": "integer",
                                                                "example": 1
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "pagination": {
                                            "properties": {
                                                "currentPage": {
                                                    "type": "integer",
                                                    "example": 1
                                                },
                                                "totalPages": {
                                                    "type": "integer",
                                                    "example": 3
                                                },
                                                "totalItems": {
                                                    "type": "integer",
                                                    "example": 25
                                                },
                                                "itemsPerPage": {
                                                    "type": "integer",
                                                    "example": 10
                                                },
                                                "hasNext": {
                                                    "type": "boolean",
                                                    "example": true
                                                },
                                                "hasPrevious": {
                                                    "type": "boolean",
                                                    "example": false
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "links": {
                                            "properties": {
                                                "self": {
                                                    "type": "string",
                                                    "example": "/api/v1/comptes?page=1&limit=10"
                                                },
                                                "next": {
                                                    "type": "string",
                                                    "example": "/api/v1/comptes?page=2&limit=10"
                                                },
                                                "first": {
                                                    "type": "string",
                                                    "example": "/api/v1/comptes?page=1&limit=10"
                                                },
                                                "last": {
                                                    "type": "string",
                                                    "example": "/api/v1/comptes?page=3&limit=10"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Non authentifié"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Accès non autorisé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Accès non autorisé"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/comptes/{id}": {
            "get": {
                "tags": [
                    "Comptes"
                ],
                "summary": "Obtenir les détails d'un compte spécifique",
                "description": "Retourne les détails d'un compte bancaire spécifique avec son utilisateur",
                "operationId": "73c661e1b184667f1bb194f22d82cb7d",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID du compte (UUID)",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Détails du compte récupérés avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "properties": {
                                                "id": {
                                                    "type": "string",
                                                    "format": "uuid",
                                                    "example": "a02eab71-0ae7-48cf-bc37-92d0493737e1"
                                                },
                                                "numeroCompte": {
                                                    "type": "string",
                                                    "example": "CPT123456"
                                                },
                                                "titulaire": {
                                                    "type": "string",
                                                    "example": "Amadou Diallo"
                                                },
                                                "type": {
                                                    "type": "string",
                                                    "enum": [
                                                        "Épargne",
                                                        "Chèque"
                                                    ],
                                                    "example": "Épargne"
                                                },
                                                "solde": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 1000.5
                                                },
                                                "devise": {
                                                    "type": "string",
                                                    "example": "FCFA"
                                                },
                                                "statut": {
                                                    "type": "string",
                                                    "enum": [
                                                        "Actif",
                                                        "Bloqué",
                                                        "Fermé"
                                                    ],
                                                    "example": "Actif"
                                                },
                                                "dateCreation": {
                                                    "type": "string",
                                                    "format": "date-time",
                                                    "example": "2023-10-23T00:00:00Z"
                                                },
                                                "metadata": {
                                                    "properties": {
                                                        "derniereModification": {
                                                            "type": "string",
                                                            "format": "date-time",
                                                            "example": "2023-06-10T14:30:00Z"
                                                        },
                                                        "version": {
                                                            "type": "integer",
                                                            "example": 1
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            },
                                            "type": "object"
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Détails du compte"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Non authentifié"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Compte non trouvé",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Compte non trouvé"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/v1/comptes/mine": {
            "get": {
                "tags": [
                    "Comptes"
                ],
                "summary": "Obtenir les comptes du client connecté",
                "description": "Retourne la liste des comptes actifs du client authentifié ou via user_id en paramètre",
                "operationId": "c7590a97f5879aacdc637cc45fcdd51d",
                "parameters": [
                    {
                        "name": "user_id",
                        "in": "query",
                        "description": "ID de l'utilisateur (requis si non authentifié)",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Liste des comptes de l'utilisateur récupérée avec succès",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "properties": {
                                                    "id": {
                                                        "type": "string",
                                                        "format": "uuid",
                                                        "example": "550e8400-e29b-41d4-a716-446655440000"
                                                    },
                                                    "numeroCompte": {
                                                        "type": "string",
                                                        "example": "C00123456"
                                                    },
                                                    "titulaire": {
                                                        "type": "string",
                                                        "example": "Amadou Diallo"
                                                    },
                                                    "type": {
                                                        "type": "string",
                                                        "enum": [
                                                            "Épargne",
                                                            "Chèque"
                                                        ],
                                                        "example": "epargne"
                                                    },
                                                    "solde": {
                                                        "type": "number",
                                                        "format": "float",
                                                        "example": 1250000
                                                    },
                                                    "devise": {
                                                        "type": "string",
                                                        "example": "FCFA"
                                                    },
                                                    "dateCreation": {
                                                        "type": "string",
                                                        "format": "date-time",
                                                        "example": "2023-03-15T00:00:00Z"
                                                    },
                                                    "statut": {
                                                        "type": "string",
                                                        "enum": [
                                                            "Actif",
                                                            "Bloqué",
                                                            "Fermé"
                                                        ],
                                                        "example": "actif"
                                                    },
                                                    "motifBlocage": {
                                                        "type": "string",
                                                        "example": null,
                                                        "nullable": true
                                                    },
                                                    "metadata": {
                                                        "properties": {
                                                            "derniereModification": {
                                                                "type": "string",
                                                                "format": "date-time",
                                                                "example": "2023-06-10T14:30:00Z"
                                                            },
                                                            "version": {
                                                                "type": "integer",
                                                                "example": 1
                                                            }
                                                        },
                                                        "type": "object"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Comptes de l'utilisateur"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Paramètre user_id requis lorsque non authentifié",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Paramètre 'user_id' requis lorsque non authentifié"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Non authentifié",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "success": {
                                            "type": "boolean",
                                            "example": false
                                        },
                                        "message": {
                                            "type": "string",
                                            "example": "Non authentifié"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "bearerAuth": {
                "type": "http",
                "bearerFormat": "JWT",
                "scheme": "bearer"
            }
        }
    },
    "tags": [
        {
            "name": "Comptes",
            "description": "Comptes"
        }
    ]
}
